<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <div class="field"> -->
    <%#= form.label :user_id %>
    <%#= form.text_field :user_id, id: :profile_user_id %>
  <!-- </div> -->

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :profile_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :profile_last_name %>
  </div>

  <div class="field">
    <%= form.label :image_data %>
    <%= form.text_field :image_data, id: :profile_image_data %>
  </div>

  <div class="field">
    <%= form.label :date_of_birth %>
    <%= form.date_select :date_of_birth, id: :profile_date_of_birth %>
  </div>

  <div class="field">
    <%= form.label :short_bio %>
    <%= form.text_area :short_bio, id: :profile_short_bio %>
  </div>

  <div class="field">
    <%= form.label :superpowers %>
    <%= form.text_field :superpowers, id: :profile_superpowers %>
  </div>

  <div class="field">
    <%= form.label :favourites %>
    <%= form.text_field :favourites, id: :profile_favourites %>
  </div>

  <h2>Billing</h2>
  <%= form.fields_for :billing_address do |billing_address_form| %>

    <div class="field">
      <%= billing_address_form.label :house_number %>
      <%= billing_address_form.text_field :house_number %>
    </div>

    <div class="field">
      <%= billing_address_form.label :street_name %>
      <%= billing_address_form.text_field :street_name %>
    </div>

    <div class="field">
      <%= billing_address_form.label :town_suburb %>
      <%= billing_address_form.text_field :town_suburb %>
    </div>

    <div class="field">
      <%= billing_address_form.label :city %>
      <%= billing_address_form.text_field :city %>
    </div>

    <div class="field">
      <%= billing_address_form.label :state %>
      <%= billing_address_form.text_field :state %>
    </div>

    <div class="field">
      <%= billing_address_form.label :postal_code %>
      <%= billing_address_form.text_field :postal_code %>
    </div>

    <div class="field">
      <%= billing_address_form.label :country_code %>
      <%= billing_address_form.country_select :country_code %>
    </div>
  <% end %>

  <h2>Shipping</h2>
  <%= form.fields_for :shipping_address do |shipping_address_form| %>

    <div class="field">
      <%= check_box_tag :use_same_address, '1', @use_same_address %> Use same address as billing address
    </div>

    <div class="field">
      <%= shipping_address_form.label :house_number %>
      <%= shipping_address_form.text_field :house_number %>
    </div>

    <div class="field">
      <%= shipping_address_form.label :street_name %>
      <%= shipping_address_form.text_field :street_name %>
    </div>

    <div class="field">
      <%= shipping_address_form.label :town_suburb %>
      <%= shipping_address_form.text_field :town_suburb %>
    </div>

    <div class="field">
      <%= shipping_address_form.label :city %>
      <%= shipping_address_form.text_field :city %>
    </div>

    <div class="field">
      <%= shipping_address_form.label :state %>
      <%= shipping_address_form.text_field :state %>
    </div>

    <div class="field">
      <%= shipping_address_form.label :postal_code %>
      <%= shipping_address_form.text_field :postal_code %>
    </div>

    <div class="field">
      <%= shipping_address_form.label :country_code %>
      <%= shipping_address_form.country_select :country_code %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
