<%= link_to 'Order History', orders_path, class: 'nav-link' %>
<%= link_to 'Contact Support', new_contact_support_path, class: 'nav-link' %>

<h1><%= @profile.full_name %></h1>
<p>
  <strong>Image data:</strong>
  <%= image_tag @profile.image_url(:thumb) unless @profile.image.nil? %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @profile.date_of_birth %>
</p>

<p>
  <strong>Short bio:</strong>
  <%= @profile.short_bio %>
</p>

<p>
  <strong>Superpowers:</strong>
  <%= @profile.superpowers %>
</p>

<p>
  <strong>Favourites:</strong>
  <%= @profile.favourites %>
</p>

<h2>Billing</h2>
<p>
  <%= @profile.billing_address.full_address %>
</p>

<h2>Shipping</h2>
<p>
  <%= @profile.shipping_address.full_address %>
</p>

<%= link_to 'Write a Review', new_profile_review_path(@profile) %>
<%= form_with(url: conversations_url, local:true) do |f| %>
  <%= f.hidden_field :topic, value: direct_message_topic_between(@profile.user, current_user) %>
  <%= f.hidden_field :title, value: conversation_title_between(@profile.user, current_user) %>
  <%= hidden_field_tag :receiver, @profile.user.id %>
  <%= f.submit 'Message' %>
<% end %>
<%= link_to 'Edit', edit_profile_path(@profile) %>