<%= form_with(model: watchlist, local: true) do |form| %>
  <% if watchlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(watchlist.errors.count, "error") %> prohibited this watchlist from being saved:</h2>

      <ul>
      <% watchlist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :watchlist_user_id %>
  </div>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.text_field :product_id, id: :watchlist_product_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
