<p id="notice"><%= notice %></p>

<h1>Watchlists</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @watchlists.each do |watchlist| %>
      <tr>
        <td><%= watchlist.user %></td>
        <td><%= watchlist.product %></td>
        <td><%= link_to 'Show', watchlist %></td>
        <td><%= link_to 'Edit', edit_watchlist_path(watchlist) %></td>
        <td><%= link_to 'Destroy', watchlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Watchlist', new_watchlist_path %>
