<p><%= flash[:notice] %></p>

<h1>Shopping Carts</h1>

<table>
  <thead>
    <tr>
      <th>Seller</th>
      <th>Buyer</th>
      <th>Product</th>
      <th>Price</th>
      <th>Weight</th>
      <th>Postage Price</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% unless @shopping_cart.blank? %>
    <% @shopping_cart.products.each do |shopping_cart_item| %>
      <tr>
        <td><%= shopping_cart_item.seller.profile.full_name %></td>
        <td><%= shopping_cart_item.name %></td>
        <td><%= number_to_currency  shopping_cart_item.price %></td>
        <td><%= shopping_cart_item.weight %></td>
        <td><%#= shopping_cart_item.postage_price %></td>
        <td><%= link_to 'Remove from Cart', shopping_cart_path(shopping_cart_item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

Product Total: <%= number_to_currency format_amount_from_cents(@shopping_cart.products_total_price) %><br>
Postage Total: <%= number_to_currency  format_amount_from_cents(@shopping_cart.postage_total_price) %><br>
Total: <%= number_to_currency format_amount_from_cents(@shopping_cart.products_total_price + @shopping_cart.postage_total_price) %>
<br><br>
<%= link_to 'Proceed to Checkout', new_order_path unless @shopping_cart.blank? %>
