<p><%= flash[:notice] %></p>

<h1>Shopping Carts</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Product</th>
      <th>Price</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @shopping_cart.each do |shopping_cart_item| %>
      <tr>
        <td><%= shopping_cart_item.buyer.email %></td>
        <td><%= shopping_cart_item.product.name %></td>
        <td><%= shopping_cart_item.product.price %></td>
        <td><%= link_to 'Remove from Cart', shopping_cart_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Proceed to Checkout', new_order_path unless @shopping_cart.empty? %>
