<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @shopping_cart.buyer.email %>
</p>

<p>
  <strong>Product:</strong>
  <%= @shopping_cart.product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @shopping_cart.product.price %>
</p>

<%= link_to 'Edit', edit_shopping_cart_path(@shopping_cart) %> |
<%= link_to 'Back', shopping_carts_path %>
