<!-- <p id="notice"><%#= notice %></p> -->

<h1>Order History</h1>

<table>
  <thead>
    <tr>
      <th>Buyer</th>
      <th>Product</th>
      <th>Charge identifier</th>
      <th>Order Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.buyer.email %></td>
        <td>
          <% order.order_items.each do |item| %>
          <%= item.product.seller.created_at %> <%= item.product.seller.email %> <%= item.product.name %> <%= number_to_currency item.product.price %><br>
          <% end %>
        </td>
        <td><%= order.charge_identifier %></td>
        <td><%= order.created_at %></td>
        <td><%#= link_to 'Show', order %></td>
        <td><%#= link_to 'Edit', edit_order_path(order) %></td>
        <td><%#= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Order', new_order_path %>
