<section class="breadcrumbs">
  <%= link_to 'Home', root_path %> / <%= link_to 'Shopping Cart', shopping_carts_path %> / Check Out
</section>
<section class="application shopping-cart order">
<h2>Your Order</h2>
<div class="shopping-cart-list">
  <% unless @shopping_cart.blank? %>
    <% @shopping_cart.products.each do |shopping_cart_item| %>
      <div class="cart-item row">
        <div class="cart-left col d-flex">
          <a href="<%= product_path(shopping_cart_item) %>" class="p-2">
            <div class="cart-item-photo p-2" style="<%= style_for_backgound_image(shopping_cart_item.photos.first.image_url(:thumb)) unless shopping_cart_item.photos.blank? %>"></div>
          </a>
          <div class="cart-details align-self-center">
            <p>
              <span class="cart-item-name"><%= link_to shopping_cart_item.name, product_path(shopping_cart_item) %></span><br>
              <span class="cart-item-condition"><%= shopping_cart_item.condition %></span><br>
              <span class="cart-item-weight"><%= pluralize format_grams_to_kg(shopping_cart_item.weight), 'kg' %></span>
            </p>
          </div>
        </div>
        <div class="cart-right col align-self-center">
          <div class="cart-price">
            <h4><%= number_to_currency  shopping_cart_item.price %></h4>
          </div>
        </div>
      </div>
      
    <% end %>
  <% end %>
</div>
<div class="spacer10"></div>
<div class="shopping-cart-totals">
  <div class="shopping-cart-prices">
    <% unless @shopping_cart.blank? %>
    <h6>Product Price: <%= number_to_currency format_amount_from_cents(@shopping_cart.products_total_price) %></h6>
    <h6>Postage Price: <%= number_to_currency  format_amount_from_cents(@shopping_cart.postage_total_price) %></h6>
    <div class="spacer10"></div>
    <h3>Total: <%= number_to_currency format_amount_from_cents(@shopping_cart.products_total_price + @shopping_cart.postage_total_price) %></h3>
    <% end %>
  </div>
  <div class="spacer20"></div>
  <div class="proceed-to-payment">
    <!-- Checkout button -->
    <%= form_with model: @order, method: :create, local: true do |f| %>
    <%= hidden_field_tag 'authenticity_token', form_authenticity_token %>
    <%= f.hidden_field :buyer_id, value: current_user.id if user_signed_in? %>
    <%#= hidden_field_tag 'shopping_cart_hash', @shopping_cart_hash %>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-description="Comic Culture Marketplace"
    data-email="<%= current_user.email %>"
    data-amount="<%= @amount %>"
    data-currency="aud"
    data-locale="auto"></script>
    <% end %>
  </div>
</div>
</section>

<h1>Your Order</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Product</th>
      <th>Price</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @shopping_cart.products.each do |shopping_cart_item| %>
      <tr>
        <td><%= shopping_cart_item.seller.profile.full_name %></td>
        <td><%= shopping_cart_item.name %></td>
        <td><%= number_to_currency shopping_cart_item.price %></td>
        <td><%#= link_to 'Destroy', shopping_cart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

Product Total: <%= number_to_currency format_amount_from_cents(@shopping_cart.products_total_price) %><br>
Postage Total: <%= number_to_currency  format_amount_from_cents(@shopping_cart.postage_total_price) %><br>
Total: <%= number_to_currency format_amount_from_cents(@shopping_cart.products_total_price + @shopping_cart.postage_total_price) %>
<br><br>



<%= link_to 'Back', shopping_carts_path %>
