<p id="notice"><%= notice %></p>

<p>
  <strong>Buyer:</strong>
  <%= @order.buyer.email %>
</p>

<% @order.order_items.each do |item| %>
  <%= item.product.name %> <%= item.product.price %>
<% end %>

<p>
  <strong>Charge identifier:</strong>
  <%= @order.charge_identifier %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
