<p id="notice"><%= notice %></p>

<div>
  Search
  <%= form_with(url: search_index_path, method: 'get', local: true) do |form| %>
    <%= form.text_field :keywords, value: @keywords %>
    <% current_location = search_location %>
    <%= form.text_field :location, value: @location.blank? ? current_location : @location %>
    <%= form.select :location_radius, location_radius.map{|location_radius| [location_radius[0].titleize, location_radius[1]]}, selected: @location_radius %>
    <%= form.submit 'Search' %>
  <% end %>
  <%= link_to 'Advanced Search', search_index_path %>
</div>

<h1>All Available Products</h1>

<table>
  <thead>
    <tr>
      <th>Seller</th>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Condition</th>
      <th>Status</th>
      <th>Category</th>
      <th>Manufacturer</th>
      <th>Publisher</th>
      <th>Publish date</th>
      <th>Author</th>
      <th>Illustrator</th>
      <th>Isbn 10</th>
      <th>Isbn 13</th>
      <th>Dimensions</th>
      <th>Weight</th>
      <th>Keywords</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @available_products %>
  </tbody>
</table>

<br>

<h1>All Sold Products</h1>

<table>
  <thead>
    <tr>
      <th>Seller</th>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Condition</th>
      <th>Status</th>
      <th>Category</th>
      <th>Manufacturer</th>
      <th>Publisher</th>
      <th>Publish date</th>
      <th>Author</th>
      <th>Illustrator</th>
      <th>Isbn 10</th>
      <th>Isbn 13</th>
      <th>Dimensions</th>
      <th>Weight</th>
      <th>Keywords</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @sold_products %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>