<p id="notice"><%= notice %></p>

<p>
  <strong>Product Views:</strong>
  <%= @product.view_count %>
</p>


<p>
  <strong>Seller:</strong>
  <%= @product.seller.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Photos:</strong><br>
  <% @product.photos.each do |photo| %>
    <%= image_tag photo.image_url(:thumb) %><br>
    <%= link_to 'Delete Photo', photo_path(photo), method: :delete %><br>
  <% end %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @product.condition %>
</p>

<p>
  <strong>Status:</strong>
  <%= @product.status %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @product.manufacturer %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @product.publisher %>
</p>

<p>
  <strong>Publish date:</strong>
  <%= @product.publish_date %>
</p>

<p>
  <strong>Author:</strong>
  <%= @product.author %>
</p>

<p>
  <strong>Illustrator:</strong>
  <%= @product.illustrator %>
</p>

<p>
  <strong>Isbn 10:</strong>
  <%= @product.isbn_10 %>
</p>

<p>
  <strong>Isbn 13:</strong>
  <%= @product.isbn_13 %>
</p>

<p>
  <strong>Dimensions:</strong>
  <%= @product.dimensions %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @product.weight %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @product.keywords %>
</p>

<p>
  <strong>Postage:</strong>
  <%= @product.postage %>
</p>

<!-- Add to cart button -->
<%= form_with model: @shopping_cart, method: :create, local: true do |f| %>
  <%= f.hidden_field :buyer_id, value: current_user.id %>
  <%= f.hidden_field :product_id, value: @product.id %>
  <% added_to_cart = @product.added_to_cart?(current_user) %>
  <%= f.submit added_to_cart ? 'Added to Cart' : 'Add to Cart', disabled: added_to_cart %>
<% end %>
<!-- Add to watchlist button -->
<%= form_with model: @watchlist, method: :create, local: true do |f| %>
  <%= f.hidden_field :buyer_id, value: current_user.id if user_signed_in? %>
  <%= f.hidden_field :product_id, value: @product.id %>
  <% added_to_watchlist = @product.added_to_watchlist?(current_user) %>
  <%= f.submit added_to_watchlist ? 'Added to Watchlist' : 'Add to Watchlist', disabled: added_to_watchlist %>
<% end %>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
