<%= form_with(model: [@seller_profile, review], local: true) do |form| %>
  <% if review.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
    <% review.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <h2><%= @seller_profile.full_name %></h2>

  <div class="field">
    <%= form.label 'What do you think about this seller?' %>
    <%= form.text_area :comment, id: :review_comment %>
  </div>

  <div class="field">
    <%= form.label "How would you rate this seller?" %><br>
    <%#= form.text_field :rating, id: :review_rating %>
    <fieldset class="rating">
        <input type="radio" id="star5" name="review[rating]" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
        <input type="radio" id="star4half" name="review[rating]" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
        <input type="radio" id="star4" name="review[rating]" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
        <input type="radio" id="star3half" name="review[rating]" value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
        <input type="radio" id="star3" name="review[rating]" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
        <input type="radio" id="star2half" name="review[rating]" value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
        <input type="radio" id="star2" name="review[rating]" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
        <input type="radio" id="star1half" name="review[rating]" value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
        <input type="radio" id="star1" name="review[rating]" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
        <input type="radio" id="starhalf" name="review[rating]" value="1" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
    </fieldset>
  </div>

  

  <div class="actions d-flex flex-row justify-content-center">
    <%= form.submit %>
  </div>
<% end %>
