<p id="notice"><%= notice %></p>

<h1>Reviews</h1>

<table>
  <thead>
    <tr>
      <th>Seller</th>
      <th>Buyer</th>
      <th>Comment</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.seller.email %></td>
        <td><%= review.buyer.email %></td>
        <td><%= review.comment %></td>
        <td><%= review.rating %></td>
        <td><%= link_to 'Show', profile_review_path(review.seller, review) %></td>
        <td><%= link_to 'Edit', edit_profile_review_path(review.seller, review) %></td>
        <td><%= link_to 'Destroy', profile_review_path(review.seller, review), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Review', new_profile_review_path %>
