<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Comic Culture Marketplace</title>
    <%= csrf_meta_tags %>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Bangers|Oswald:400,700" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">

      <section class="header row align-items-center">
        <!-- Comic Culture Logo -->
        <div class="logo col-12">
          <a href="<%= root_path %>" class="row align-items-center">
            <%= image_tag asset_path('logo.svg'), class: 'col-6' %>
            <h1 class="col-6">COMIC CULTURE MARKETPLACE</h1>
          </a>
        </div>

        <!-- Search Bar Desktop -->
        <div class="search-bar desktop-only">
          Search
          <%= form_with(url: search_index_path, method: 'get', local: true) do |form| %>
            <%= form.text_field :keywords, value: @keywords %>
            <% current_location = search_location %>
            <%= form.text_field :location, value: @location.blank? ? current_location : @location %>
            <%= form.select :location_radius, location_radius.map{|location_radius| [location_radius[0].titleize, location_radius[1]]}, selected: @location_radius %>
            <%= form.submit 'Search' %>
          <% end %>
          <%= link_to 'Advanced Search', search_index_path %>
        </div>
      </section>
      <section class="primary-navigation">
        <nav class="navbar navbar-expand">
          <ul class="navbar-nav navbar-left justify-content-start align-items-center justify-content-center">
            <li class="nav-item">
              <a href="<%= root_path %>" class="nav-link d-flex align-items-center"><div class="primary-nav-icon-home"></div></a>
            </li>
            <li class="nav-item nav-item-category">
              <%= link_to 'Shop by Category', '#', class: 'nav-link category-dropdown d-flex align-items-center' %>
              <div class="category-dropdown-content">
                <a href="#" class="nav-link d-flex align-items-center justify-content-start"><%= html_escape('Comic Books & Graphic Novels') %></a>
                <a href="#" class="nav-link d-flex align-items-center justify-content-start"><%= html_escape('Toys & Collectables') %></a>
                <a href="#" class="nav-link d-flex align-items-center justify-content-start"><%= html_escape('Costumes') %></a>
                <a href="#" class="nav-link d-flex align-items-center justify-content-start"><%= html_escape('Clothing & Apparel') %></a>
              </div>
            </li>
            <li class="nav-item"><%= link_to 'Watchlist', watchlists_path, class: 'nav-link d-flex align-items-center' %></li>
          </ul>
          <ul class="navbar-nav navbar-right justify-content-end align-items-center">
            <li class="nav-item">
              <% if user_signed_in? and current_user.profile.present? %>
              <a href="<%= profile_path(current_user.profile) if user_signed_in? and current_user.profile.present? %>" class="nav-link d-flex flex-wrap align-items-center">
                <div class="primary-nav-icon primary-nav-icon-profile p-2"></div>
                <div class="p-2 primary-nav-label d-flex align-items-center justify-content-center">Profile</div>
              </a>
              <% end %>
            </li>
            
            <li class="nav-item">
              <% if user_signed_in? and current_user.profile.present? %>
              <a href="<%= conversations_path %>" class="nav-link d-flex flex-wrap align-items-center">
                <div class="primary-nav-icon primary-nav-icon-messages p-2"></div>
                <div class="p-2 primary-nav-label d-flex align-items-center justify-content-center">Messages</div>
              </a>
              <% end %>
            </li>
            
            <li class="nav-item">
              <% if user_signed_in? and current_user.profile.present? %>
              <a href="<%= shopping_carts_path %>" class="nav-link d-flex flex-wrap align-items-center">
                <div class="primary-nav-icon primary-nav-icon-shopping-cart p-2"></div>
                <div class="p-2 primary-nav-label d-flex align-items-center justify-content-center"><%= shopping_cart_label %></div>
              </a>
              <% end %>
            </li>

            <li class="nav-item">
              <% if user_signed_in? %>
                <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link d-flex align-items-center justify-content-center' %>
              <% else %>
                <%= link_to 'Sign in', new_user_session_path, class: 'nav-link d-flex align-items-center justify-content-center' %>  
              <% end %>
            </li>
          </ul>
        </nav>
      </section>
      
      <%= link_to 'Order History', orders_path, class: 'nav-link' %>
      <%= link_to 'Contact Support', new_contact_support_path, class: 'nav-link' %>

      <nav class="mobile-navigation nav nav-pills nav-justified fixed-bottom align-items-center">
        <a href="<%= root_path %>" class="nav-item nav-link"><%= image_tag asset_path('hamburger.svg') %></a>
        <a href="<%= search_index_path %>" class="nav-item nav-link"><%= image_tag asset_path('search.svg') %></a>
        <a href="<%= profile_path(current_user.profile) if user_signed_in? and current_user.profile.present? %>" class="nav-item nav-link"><%= image_tag asset_path('profile.svg') %></a>
        <a href="<%= conversations_path %>" class="nav-item nav-link"><%= image_tag asset_path('message.svg') %></a>
        <a href="<%= shopping_carts_path %>" class="nav-item nav-link"><%= image_tag asset_path('shopping_cart.svg') %></a>
      </nav>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
      

      <%= yield %>
    </div>
  </body>
</html>
