<!DOCTYPE html>
<html>
  <head>
    <title>ComicCultureMarketplace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      <li>
      <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
      </li>
    <% else %>
      <li>
      <%= link_to('Login', new_user_session_path)  %>  
      </li>
    <% end %>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <%= link_to 'Home', root_path %>
    <%= link_to 'Profile', profile_path(current_user.profile) if user_signed_in? and current_user.profile.present? %>
    <%= link_to 'Shopping Cart', shopping_carts_path %>
    <%= link_to 'Order History', orders_path %>

    <%= yield %>
  </body>
</html>
