<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Comic Culture Marketplace</title>
    <%= csrf_meta_tags %>

    <!-- Google Fonts -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Bangers|Oswald:400,700" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Bangers|Oswald:300,400,600" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">

        <!-- d-flex flex-wrap align-items-center -->
      <section class="header navbar justify-content-lg-between justify-content-center search-bar">  
        <a class="navbar-brand" href="<%= root_path %>">
          <%= image_tag asset_path('logo2.svg'), height: 120 %>
        </a>
        <%= form_with(url: search_index_path, method: 'get', local: true, class: 'form-inline') do |form| %>
          <%= form.text_field :keywords, id: :keywords, value: @keywords, placeholder: 'What are you looking for?' %>
          <% current_location = search_location %>
          <%= form.text_field :location, id: :location, value: @location.blank? ? current_location : @location, placeholder: 'Location' %>
          <%= form.select :location_radius, location_radius.map{|location_radius| [location_radius[0].titleize, location_radius[1]]}, selected: @location_radius %>
          <%= form.submit 'Search' %>
          <%#= link_to 'Advanced Search', search_index_path %>
        <% end %>
      </section>
      
      <section class="primary-navigation">
        <nav class="navbar navbar-expand">
          <ul class="navbar-nav navbar-left justify-content-start align-items-center justify-content-center">
            <li class="nav-item">
              <a href="<%= root_path %>" class="nav-link d-flex align-items-center"><div class="primary-nav-icon-home"></div></a>
            </li>
            <li class="nav-item nav-item-category">
              <%= link_to 'Shop by Category', '#', class: 'nav-link category-dropdown d-flex align-items-center' %>
              <div class="category-dropdown-content">
                <a href="#" class="nav-link d-flex align-items-center justify-content-start"><%= html_escape('Comic Books & Graphic Novels') %></a>
                <a href="#" class="nav-link d-flex align-items-center justify-content-start"><%= html_escape('Toys & Collectibles') %></a>
                <a href="#" class="nav-link d-flex align-items-center justify-content-start"><%= html_escape('Costumes') %></a>
                <a href="#" class="nav-link d-flex align-items-center justify-content-start"><%= html_escape('Clothing & Apparel') %></a>
              </div>
            </li>
            <li class="nav-item"><%= link_to 'Watchlist', watchlists_path, class: 'nav-link d-flex align-items-center' %></li>
          </ul>
          <ul class="navbar-nav navbar-right justify-content-end align-items-center">
            <% if user_signed_in? and current_user.profile.present? %>
            <li class="nav-item">
              <a href="<%= profile_path(current_user.profile) if user_signed_in? and current_user.profile.present? %>" class="nav-link d-flex flex-wrap align-items-center">
                <div class="primary-nav-icon primary-nav-icon-profile p-2"></div>
                <div class="p-2 primary-nav-label d-flex align-items-center justify-content-center">Profile</div>
              </a>
            </li>
            
            <li class="nav-item">
              <a href="<%= conversations_path %>" class="nav-link d-flex flex-wrap align-items-center">
                <div class="primary-nav-icon primary-nav-icon-messages p-2"></div>
                <div class="p-2 primary-nav-label d-flex align-items-center justify-content-center">Messages</div>
              </a>
            </li>
            
            <li class="nav-item">
              <a href="<%= shopping_carts_path %>" class="nav-link d-flex flex-wrap align-items-center">
                <div class="primary-nav-icon primary-nav-icon-shopping-cart p-2"></div>
                <div class="p-2 primary-nav-label d-flex align-items-center justify-content-center"><%= shopping_cart_label %></div>
              </a>
            </li>
            <% end %>

            <li class="nav-item">
              <% if user_signed_in? %>
                <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link d-flex align-items-center justify-content-center' %>
              <% else %>
                <%= link_to 'Sign in', new_user_session_path, class: 'nav-link d-flex align-items-center justify-content-center' %>  
              <% end %>
            </li>
          </ul>
        </nav>
      </section>

      <nav class="mobile-navigation nav nav-pills nav-justified fixed-bottom align-items-center">
        <a href="#" class="nav-item nav-link hamburger-link"><%= image_tag asset_path('hamburger.svg') %></a>
        <a href="<%= search_index_path %>" class="nav-item nav-link"><%= image_tag asset_path('search.svg') %></a>
        <a href="<%= profile_path(current_user.profile) if user_signed_in? and current_user.profile.present? %>" class="nav-item nav-link"><%= image_tag asset_path('profile.svg') %></a>
        <a href="<%= conversations_path %>" class="nav-item nav-link"><%= image_tag asset_path('message.svg') %></a>
        <a href="<%= shopping_carts_path %>" class="nav-item nav-link"><%= image_tag asset_path('shopping_cart.svg') %></a>
      </nav>

      <section id="mobile-menu" class="mobile-menu">
        <div class="d-flex flex-column">
          <div class="close-row p-2 d-flex justify-content-end">
            <div class="close-button">
              <i class="fa fa-times" aria-hidden="true"></i>
            </div>
          </div>
          <ul class="mobile-menu-items row p-2">
            <li class="mobile-menu-item col-12 d-flex align-items-center">
              <%= link_to 'Home', root_path %>
            </li>
            <li class="mobile-menu-item col-12 d-flex align-items-center">
              <a href="#">Comic Books X Graphic Novels</a>
            </li>
            <li class="mobile-menu-item col-12 d-flex align-items-center">
              <a href="#">Toys X Collectibles</a>
            </li>
            <li class="mobile-menu-item col-12 d-flex align-items-center">
              <a href="#">Costumes</a>
            </li>
            <li class="mobile-menu-item col-12 d-flex align-items-center">
              <a href="#">Clothing X Apparel</a>
            </li>
            <li class="mobile-menu-item col-12 d-flex align-items-center">
              <%= link_to 'Watchlist', watchlists_path %>
            </li>
            <li class="mobile-menu-item col-12 d-flex align-items-center">
              <%= link_to 'Contact Us', new_contact_support_path %>
            </li>
            <li class="mobile-menu-item col-12 d-flex align-items-center">
              <a href="#">About Comic Culture</a>
            </li>
          </ul>
        </div>
      </section>
      
      <%= yield %>
    </div>

    <script>
      $( ".hamburger-link" ).click(function() {
        $( "#mobile-menu" ).toggleClass( "mobile-menu-show" );
        return false;
      });
      $( ".close-button" ).click(function() {
        $( "#mobile-menu" ).removeClass( "mobile-menu-show" );
        return false;
      });
    </script>
  </body>
</html>
